C:/Users/angel/Desktop/Universidad/Semestres/Semestre[[:space:]]5/Operativos/Proyecto[[:space:]]final/SistemasOperativos/dist/SistemasOperativos.jar filter=lfs diff=lfs merge=lfs -text
dist/SistemasOperatives.jar filter=lfs diff=lfs merge=lfs -text
dist/SistemasOperativos.jar filter=lfs diff=lfs merge=lfs -text
